<div class="card" style="width: 18rem">
  <img
    class="card-img-top mb-3 align-self-center"
    src="https://th.bing.com/th/id/R.7d7f9fb08cb0228ee4c1764de0c9f408?rik=63e9%2f1pbuQ5atA&pid=ImgRaw&r=0"
    style="width: 250px; height: 150px" />
  <div class="card-body bg-light">
    <h5 class="card-title text-center"><%= product.name %></h5>
    <p>Color: <%= product.color %></p>
    <p>Matrial: <%= product.material %></p>
    <p>size: <%= product.size %></p>
    <a href="#" class="btn btn-primary mr-5 px-4">Buy</a>
    <span class="text-secondary"><%= product.price %>$</span>
  </div>
</div>
